@mixin respond($breakpoint) {
    @if $breakpoint == medium-screen {
        @media (min-width: 48rem) { @content };
    }
    @if $breakpoint == stats {
        @media (min-width: 64rem) { @content };
    }
    @if $breakpoint == big-screen {
        @media (min-width: 90rem) { @content };
    }
}

@mixin flex-column-align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin horizontal-padding {
    padding: 0 clamp(1rem, calc(6.11vw + -0.43rem), 2.5rem);
}

