// COLORS
// PRIMARY
$color-dark-blue: hsla(219, 43%, 16%, 1);
$color-grey: hsla(219, 20%, 36%, 1);
$color-cream: hsla(30, 35%, 93%, 1);
$color-cream-white: hsla(30, 29%, 97%, 1);

// GRADIENT
$color-gradient: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);

// FONT
$default-font-size: 1rem;
$default-font-stack: 'Epilogue', sans-serif;
$default-font-weight: 400;
$default-font-weight-heading: 700;