.footer {
    margin-top: clamp(-464px, calc(-94.91vw + 16.56rem), -91px);
    width: 100%;
    padding:    clamp(190px, calc(88.04vw + -8.76rem), 536px)
                clamp(1rem, calc(6.11vw + -0.43rem), 2.5rem)
                clamp(5rem, calc(-2.04vw + 5.48rem), 4.5rem)
                clamp(1rem, calc(6.11vw + -0.43rem), 2.5rem);
    background-color: $color-cream;
    z-index: 1;
    @include flex-column-align-center;

    @include respond(medium-screen) {
        margin-top: clamp(-464px, calc(29.61vw + -43.21rem), -265px);
        max-width: 90rem;
        padding:    clamp(360px, calc(-26.19vw + 46.07rem), 536px)
                    clamp(1rem, calc(6.11vw + -0.43rem), 2.5rem)
                    4.5rem
                    clamp(1rem, calc(6.11vw + -0.43rem), 2.5rem);
      }

    &__inner {
        width: 100%;
        max-width: 69.375rem;
        @include flex-column-align-center;
        row-gap: 2.0625rem;

        @include respond(medium-screen) {
            flex-direction: row;
            align-items: baseline;
            justify-content: space-between;
          }
    }

    &__flex-item {
        text-align: center;
        @include respond(medium-screen) {
            width: 30%;
          }
    }
}