.image {
    &--hero {
        width: 100%;
    }

    &--review {

        & img {
            width: 15.75rem;

            @include respond(stats) {
                width: auto;
                height: 100%;
            }
        }
    }
}