.nav {

    &__list {
        @include respond(medium-screen) {
            display: grid;
            row-gap: 0.75rem;
            column-gap: clamp(0.0625rem, calc(4.32vw + -2.01rem), 1.875rem);
            grid-template-columns: repeat(3, 10.3125rem);
            grid-template-areas: 
            "faq privacy install"
            "contact press .";
            max-width: 39.6875rem;
          }
    }

    &__item {
        @include respond(medium-screen) {
            justify-self: start;

            &--faq {
                grid-area: faq;
            }

            &--contact {
                grid-area: contact;
            }

            &--privacy {
                grid-area: privacy;
            }

            &--press {
                grid-area: press;
            }

            &--install {
                grid-area: install;
            }
          }
        
    }
}