.social-media-panel {
  list-style-type: none;
    width: 116px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;

    @include respond(medium-screen) {
        margin-right: 0;
        margin-left: auto;
      }
}