.social-media-panel {
    list-style-type: none;
    width: 7.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;

    @include respond(medium-screen) {
        margin-right: 0;
      }
}