  body {
     font-family: $default-font-stack;
     font-weight: $default-font-weight;
     font-size: $default-font-size;
     color: $color-dark-blue;
     text-align: center;

  }

  .heading {
    font-weight: $default-font-weight;

    &--hero {
      text-align: left;
      font-size: clamp(2.375rem, calc(4.58vw + 1.30rem), 3.5rem);
      line-height: clamp(2.75rem, calc(5.09vw + 1.56rem), 4rem);
      letter-spacing: -0.527778px;
      max-width:  39.6875rem;

      @include respond(medium-screen) {
        font-size: clamp(3.5rem, calc(2.38vw + 2.36rem), 4.5rem);
        line-height: clamp(4rem, calc(2.08vw + 3.00rem), 4.875rem);
        letter-spacing: -0.777778px;
      }

      @include respond(big-screen) {
        letter-spacing: -1px;
      }
    }

    &--stat-name {
      color: $color-grey;
      font-size: 1rem;
      line-height: 1.625rem;
      letter-spacing: 2.5px;
      text-transform: uppercase;

      @include respond(big-screen) {
      text-align: left;
      }
    }

    &--quote {
      color: $color-cream-white;
      font-size: 2.5rem;
      line-height: 3rem;
      letter-spacing: -0.42px;

      @include respond(medium-screen) {
        font-size: clamp(2.5rem, calc(1.19vw + 1.93rem), 3rem);
        line-height: clamp(3rem, calc(1.19vw + 2.43rem), 3.5rem);
      }

      @include respond(big-screen) {
        text-align: left;
        letter-spacing: -0.5px;
      }
    }

    &__span {
        font-weight: $default-font-weight-heading;

        &--roofed {
          position: relative;
        }
    }

    &__decoration {
      position: absolute;
      transform: translateY(-100%);
      margin-top: clamp(-1rem, calc(-2.04vw + -0.02rem), -0.5rem);
      top: 0;
      left: 0;
      width: 100%;

      @include respond(medium-screen) {
        margin-top: clamp(-1.375rem, calc(-0.89vw + -0.57rem), -1rem)
      }
    }
}

  .paragraph {
    color: $color-grey;

    &--hero {
      text-align: left;
      line-height: 1.75rem;
      letter-spacing: 0.09px;
      max-width: 21.875rem;

      @include respond(medium-screen) {
        font-size: clamp(1rem, calc(0.30vw + 0.86rem), 1.125rem);
        line-height: clamp(1.75rem, calc(0.60vw + 1.46rem), 2rem);
        letter-spacing: 0.1px;
      }
    }

    &--stat-figure {
      font-weight: $default-font-weight-heading;
      font-size: 3rem;
      line-height: 3.5rem;
      

      @include respond(big-screen) {
        text-align: left;
        letter-spacing: -0.5px;
        }
    }

    &--quote {
      color: $color-cream-white;
      font-size: 1.125rem;
      line-height: 2rem;
      letter-spacing: 0.09px;

      @include respond(medium-screen) {
        font-size: clamp(1.125rem, calc(0.30vw + 0.98rem), 1.25rem);
        line-height: clamp(2rem, calc(0.45vw + 1.79rem), 2.1875rem);
      }

      @include respond(big-screen) {
        text-align: left;
        letter-spacing: 0.1px;
      }
    }

    &--author-name {
      color: $color-cream-white;
      font-weight: $default-font-weight-heading;
      text-transform: uppercase;
      font-size: 1.125rem;
      line-height: 2rem;
      letter-spacing: -0.18px;

      @include respond(big-screen) {
        text-align: left;
      }
    }

    &--author-role {
      color: $color-cream-white;
      text-transform: uppercase;
      line-height: 1.625rem;
      letter-spacing: 2.5px;

      @include respond(big-screen) {
        text-align: left;
      }
    }
}